## Try lang tong lahat

## Import

In [722]:
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [723]:
df = pd.read_parquet('parquet/kess.parquet')

#### Drop columns

In [724]:
column_names = df.columns.tolist()
print("Column names:", column_names)

Column names: ['ID', 'Year_Birth', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'Response', 'Complain', 'Total_Children', 'Days_Since_Customer', 'Age_at_Customer_Date', 'Education_Basic', 'Education_Graduation', 'Education_Master', 'Education_PhD', 'Marital_Status_Married', 'Marital_Status_Single', 'Marital_Status_Together', 'Marital_Status_Widow', 'A_Marital_Status_Married_Kidhome', 'A_Marital_Status_Married_Teenhome', 'A_Marital_Status_Single_Kidhome', 'A_Marital_Status_Single_Teenhome', 'A_Marital_Status_Together_Kidhome', 'A_Marital_Status_Together_Teenhome', 'A_Marital_Status_Widow_Kidhome', 'A_Marital_Status_Widow_Teenhome']

Drop columns that starts with Marital*Status* because there are already new columns because of the interaction feature between Total_Children and one-hot encoded marital status

In [725]:
columns = df.columns

# Filter out columns that start with 'Marital_'
columns_to_drop = [col for col in columns if col.startswith('Marital_')]

# Drop these columns from your DataFrame
df = df.drop(columns=columns_to_drop)

In [726]:
# df.drop(columns=['ID', 'Year_Birth', 'Kidhome',
#         'Teenhome', 'Dt_Customer'], inplace=True)
# df.drop(columns=['ID', 'Year_Birth', 'Total_Children',
#         'Dt_Customer'], inplace=True)
# df.drop(columns=['ID', 'Year_Birth', 'Total_Children',
#         'Dt_Customer', 'Marital_Status', 'Kidhome', 'Teenhome'], inplace=True)
df.drop(columns=['ID', 'Year_Birth', 'Total_Children',
        'Dt_Customer', 'Kidhome', 'Teenhome'], inplace=True)
# df.drop(columns=['ID', 'Year_Birth', 'Total_Children',
#         'Dt_Customer', 'Kidhome', 'Teenhome', 'Income', 'Complain'], inplace=True)
# df.drop(columns=['ID', 'Year_Birth', 'Total_Children',
#         'Dt_Customer', 'Kidhome', 'Teenhome', 'Days_Since_Customer'], inplace=True)

pd.set_option('display.max_columns', 50)
df

,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain,Days_Since_Customer,Age_at_Customer_Date,Education_Basic,Education_Graduation,Education_Master,Education_PhD,A_Marital_Status_Married_Kidhome,A_Marital_Status_Married_Teenhome,A_Marital_Status_Single_Kidhome,A_Marital_Status_Single_Teenhome,A_Marital_Status_Together_Kidhome,A_Marital_Status_Together_Teenhome,A_Marital_Status_Widow_Kidhome,A_Marital_Status_Widow_Teenhome
0,84835.0,0,189,104,379,111,189,218,1,4,4,6,1,1,0,3539,44,False,True,False,False,0,0,0,0,0,0,0,0
1,57091.0,0,464,5,64,7,0,37,1,7,3,7,5,1,0,3540,53,False,True,False,False,0,0,0,0,0,0,0,0
2,67267.0,0,134,11,59,15,2,30,1,3,2,5,2,0,0,3573,56,False,True,False,False,0,1,0,0,0,0,0,0
3,32474.0,0,10,0,1,0,0,0,1,1,0,2,7,0,0,3397,47,False,True,False,False,0,0,0,0,1,1,0,0
4,21474.0,0,6,16,24,11,0,34,2,3,1,2,7,1,0,3490,25,False,True,False,False,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2189,66476.0,99,372,18,126,47,48,78,2,5,2,11,4,0,0,3887,37,False,False,False,True,0,0,0,0,0,0,0,0
2190,31056.0,99,5,10,13,3,8,16,1,1,0,3,8,0,0,4049,36,False,False,False,False,1,0,0,0,0,0,0,0
2191,46310.0,99,185,2,88,15,5,14,2,6,1,5,8,0,0,4365,36,False,True,False,False,0,0,0,0,0,0,0,0
2192,65819.0,99,267,38,701,149,165,63,1,5,4,10,3,0,0,4103,34,False,True,False,False,0,0,0,0,0,0,0,0
2193,94871.0,99,169,24,553,188,0,144,1,8,5,4,7,1,0,4428,43,False,False,False,True,0,2,0,0,0,0,0,0

## Baseline Modelling

In [727]:
X = df.drop('Response', axis=1)
y = df['Response']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y)

X

,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Complain,Days_Since_Customer,Age_at_Customer_Date,Education_Basic,Education_Graduation,Education_Master,Education_PhD,A_Marital_Status_Married_Kidhome,A_Marital_Status_Married_Teenhome,A_Marital_Status_Single_Kidhome,A_Marital_Status_Single_Teenhome,A_Marital_Status_Together_Kidhome,A_Marital_Status_Together_Teenhome,A_Marital_Status_Widow_Kidhome,A_Marital_Status_Widow_Teenhome
0,84835.0,0,189,104,379,111,189,218,1,4,4,6,1,0,3539,44,False,True,False,False,0,0,0,0,0,0,0,0
1,57091.0,0,464,5,64,7,0,37,1,7,3,7,5,0,3540,53,False,True,False,False,0,0,0,0,0,0,0,0
2,67267.0,0,134,11,59,15,2,30,1,3,2,5,2,0,3573,56,False,True,False,False,0,1,0,0,0,0,0,0
3,32474.0,0,10,0,1,0,0,0,1,1,0,2,7,0,3397,47,False,True,False,False,0,0,0,0,1,1,0,0
4,21474.0,0,6,16,24,11,0,34,2,3,1,2,7,0,3490,25,False,True,False,False,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2189,66476.0,99,372,18,126,47,48,78,2,5,2,11,4,0,3887,37,False,False,False,True,0,0,0,0,0,0,0,0
2190,31056.0,99,5,10,13,3,8,16,1,1,0,3,8,0,4049,36,False,False,False,False,1,0,0,0,0,0,0,0
2191,46310.0,99,185,2,88,15,5,14,2,6,1,5,8,0,4365,36,False,True,False,False,0,0,0,0,0,0,0,0
2192,65819.0,99,267,38,701,149,165,63,1,5,4,10,3,0,4103,34,False,True,False,False,0,0,0,0,0,0,0,0
2193,94871.0,99,169,24,553,188,0,144,1,8,5,4,7,0,4428,43,False,False,False,True,0,2,0,0,0,0,0,0

In [728]:
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)

# clf = LogisticRegression(random_state=0).fit(X_train, y_train)
# preds = clf.predict(scaler.transform(X_test))

# acc = accuracy_score(y_test, preds)
# prec = precision_score(y_test, preds)
# rec = recall_score(y_test, preds)
# f1 = f1_score(y_test, preds)
# auc = roc_auc_score(y_test, preds)

In [729]:
# print("Accuracy: %.4f" % acc)
# print("Precision: %.4f" % prec)
# print("Recall: %.4f" % rec)
# print("F1: %.4f" % f1)
# print("AUC: %.4f" % auc)

In [730]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [731]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

classifiers = {
    'Logistic Regression': LogisticRegression(random_state=0),
    'SVM': SVC(random_state=0, probability=True),
    'Naive Bayes': GaussianNB(),
    'Decision Tree': DecisionTreeClassifier(random_state=0),
    'K-Nearest Neighbors': KNeighborsClassifier()
}

scores = {name: {} for name in classifiers.keys()}

for name, clf in classifiers.items():
    clf.fit(X_train_scaled, y_train)
    preds = clf.predict(X_test_scaled)

    scores[name]['Accuracy'] = accuracy_score(y_test, preds)
    scores[name]['Precision'] = precision_score(y_test, preds)
    scores[name]['Recall'] = recall_score(y_test, preds)
    scores[name]['F1 Score'] = f1_score(y_test, preds)
    scores[name]['ROC AUC'] = roc_auc_score(y_test, preds)

scores_df = pd.DataFrame(scores).T
scores_df

                     Accuracy  Precision    Recall  F1 Score   ROC AUC
Logistic Regression  0.869499   0.638298  0.303030  0.410959  0.636337
SVM                  0.860395   0.769231  0.101010  0.178571  0.547826
Naive Bayes          0.216995   0.155372  0.949495  0.267045  0.518497
Decision Tree        0.801214   0.336735  0.333333  0.335025  0.608631
K-Nearest Neighbors  0.849772   0.500000  0.191919  0.277372  0.578995

## Small Findings

Models result with better scores when you have columns kidhome and teenhome rather than total children